body {
    font-family: 'Poppins', sans-serif;
    background: rgb(250, 218, 223);
    color: #111;
}


.navbar {
    background: white;
} 

.btn-hero {
    background: rgb(250, 179, 192);
    border: none;
    padding: 12px 22px;
    border-radius: 50px;
    font-weight: 500;
    color: #ffffff;
}

.btn-hai {
    background: rgb(250, 179, 192);
    border: none;
    padding: 12px 22px;
    border-radius: 50px;
    font-weight: 500;
    color: #ffffff;
}

.tulis-i {
    color: #5e5e5e;
}

.btn-learn {
    background: rgb(255, 255, 255);
    border: pink;
    padding: 12px 22px;
    border-radius: 50px;
    font-weight: 500;
    color: #ffffff;
}

.btn-cart {
    background:transparent;
    border: pink;
    border-radius: 200px;
    font-weight: 500;
    color: #ff7878;
}





/* .navbar .nav-link {
    color: #333;
    font-weight: 500;
}

.navbar .nav-link:hover {
    color: #000;
} */

/* .logo {
    width: 28px;
}

.hero {
    padding-top: 60px;
    padding-bottom: 60px;
}

.hero-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
}

.hero-subtitle {
    color: #777;
    font-size: 15px;
}

.btn-hero {
    background: #bfa7ff;
    border: none;
    padding: 12px 22px;
    border-radius: 50px;
    font-weight: 500;
    color: #000;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.btn-hero:hover {
    background: #a88df8;
    color: #000;
}

.relative {
    position: relative;
}

.pet-card {
    border-radius: 24px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
}

.pet-card img {
    max-height: 200px;
}

.bg-pink {
    background: #f8a8d8;
}

.bg-purple {
    background: #cbb8ff;
    max-height: 180px;
}

.bg-yellow {
    background: #f8dc74;
}

.img-absolute {
    position: absolute;
    min-height: 310px;
    bottom: 0;
}

.circle-next {
    background: #000;
    color: #fff;
    padding: 4px 10px;
    border-radius: 50px;
}

.mt-6 {
    margin-top: 4.5rem;
}

.text-primary {
    color: #a88df8 !important;
}

@media (max-width: 992px) {
    .hero-title {
        font-size: 36px;
    }
}

@media (max-width: 576px) {
    .hero-title {
        font-size: 28px;
    }

    .pet-card {
        height: 220px;
    }
} */ */