body {
    font-family: 'Poppins', sans-serif;
    background: rgb(250, 218, 223);
    color: #111;
}


.navbar {
    background: white;
} 

.btn-hero {
    background: rgb(250, 179, 192);
    border: none;
    padding: 12px 22px;
    border-radius: 50px;
    font-weight: 500;
    color: #ffffff;
}

.btn-hai {
    background: rgb(250, 179, 192);
    border: none;
    padding: 12px 22px;
    border-radius: 50px;
    font-weight: 500;
    color: #ffffff;
}

.tulis-i {
    color: #5e5e5e;
}

.btn-learn {
    background: rgb(255, 255, 255);
    border: pink;
    padding: 12px 22px;
    border-radius: 50px;
    font-weight: 500;
    color: #ffffff;
}


